$card-background: white;
$card-border-color: #333;
$card-border-radius: 0rem;
$padding: 2rem;
$max-width: 30rem;
$font-size-small: 0.8em;
$font-size-regular: 1rem;
$input-border-radius: 0.25em;
$input-border-color: $card-border-color;
$input-padding: 0.25em;
$gap-size: 0.25em;
$animation-duration: 250ms;
$animation-delay: 125ms;
$animation-timing: ease-in-out;
$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
@mixin card-style {
  background-color: $card-background;
  border: 1px solid $card-border-color;
  border-radius: $card-border-radius;
  padding: $padding;
  max-width: 610px;
  margin: 0 auto;
  animation: fade $animation-duration forwards $animation-timing;
}

// @mixin input-style {
//   border: 1px solid $input-border-color;
//   border-radius: $input-border-radius;
//   font-size: $font-size-regular;
//   padding: $input-padding;
// }

.card {
  @include card-style;

}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: $padding;
  gap: $gap-size;

  &:last-child {
    margin: 0;
  }

  // >label {
  //   font-weight: bold;
  //   font-size: $font-size-small;
  //   color: $card-border-color;
  // }

  // >input {
  //   @include input-style;
  // }
}


.step-title {
  margin: 0;
  margin-bottom: 1rem;
  text-align: center;
}

.card.active {
  animation: slide $animation-duration $animation-delay $animation-timing both;
}

.multi-step-form {
  overflow: hidden;
  position: relative;

}

.hide {
  display: none;
}

@keyframes slide {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(.75);
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

h1 {
  margin-top: 12rem;
  margin-bottom: 2rem;
  font: bold;
  text-align: center;
  font-family: $font-family;

}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.card0 {
  width: 224px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  background-color: gray;


  .number {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
   font-family:$font-family ; 
   font-weight: bold;
    font-size: 1rem;
    text-align: center;
    margin: 0;
  }
}

.main {
  max-width: 610px;
  border: solid #a40a0a;
  margin: auto;
}


.select-style{
padding :$input-padding; 
height: 2;
}










$titre : 10px;
$margin : 280px;
$moyen : 100px;
$titreMoyen : 18px;
$first:#02AFBC;
$seconde:#FDDF35;
$third:#9B9B9B;
$four: #30435C;

.card {
  border-color: rgb(42, 24, 24);
  background-color: white;
  border: 1px ;
  box-shadow:       
   -3px 0 3px rgba(0, 0, 0, 0.1), 
  3px 0 3px rgba(0, 0, 0, 0.1),   
  0 3px 3px rgba(0, 0, 0, 0.4); 
}

select {

  background-color: white;
  font-size: 15px;
  font-weight: 500;


  border-radius: 4px;
  border-color: #999999;
  display: inline-block;
  line-height: 1.5em;
  padding: 0.4em 3.5em 0.4em 1em;
  width: 100%;
  cursor: pointer;

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, rgb(0, 0, 0) 50%),
    linear-gradient(135deg, rgb(0, 0, 0) 50%, transparent 50%),;
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  border-color: #999999;
  outline: 0;
}





.bg {
  background-color: #F1F2F6;
}

.margin-x {
  margin-left: $margin;
  margin-right: $margin;
}
.m-t-5 {
  margin-top: 20px;
}
.margin-x-1 {
  margin-left: 72px;
  margin-right: 72px;
}
.m-t-1 {
  margin-top: 3px;
}
.m-b-5 {
  margin-bottom: $titre;
}
.label {
  font-size: 15px;
  color: $four;
  font-weight: 600;
}

.titre-center {
  text-align: center;
}

.m-t-lg {
  margin-top: $moyen;
}

.w-75 {
  width: 65%;
}

.w-20 {
  width: 32%;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: $first; 
}
p {
  margin: 0px;
}

.w-30 {
  width: 33.2%;
}
.first {
  background-color: $first;
}
.seconde {
  background-color: $seconde;
}
.third {
  background-color: $third;
}
.w-100 {
  width: 100%;
}
.d-flex {
  display: flex;
  align-items: start;
}
.m-t-0 {
  margin-top: 0px;
}
.flexe {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.white {
  color: white;
}
.gap-5 {
  gap: 5px;
}
.p-10 {
  font-size: 18px;
  font-weight: 700;
  color: white;
}
.p-9 {
  font-size: 17.1px;
  font-weight: 700;
  color: white;
}
.p-2 {
  font-size: 13px;
  font-weight: 500;
  color: white;
}

.p-4{
  font-size: $titreMoyen;
}

.w-fit {
  width: fit-content;
}
.justify-b {
  justify-content: space-between;
}

.w-8 {
  width: 88px;
}

.w-5 {
  width: 46px;
}

.w-9 {
  width: 125px;
}
.input1 {
  height: 28px;
  padding: 3px 4px;
  font-size: 25px;
  font-weight: 800;
  border: none;
  margin-top: 3px;
  color: $first;
  border-radius: 5px;
  box-shadow: 
  inset 0px 3px 7px rgba(0, 0, 0, 0.2),  
  inset 2px 0px 2px rgba(0, 0, 0, 0.1),   
  inset -2px 0px 2px rgba(0, 0, 0, 0.1),  
  inset 0px -5px 5px rgba(0, 0, 0, 0.05);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus {
  border-color: transparent; 
  outline: none; 
}

.m-y-1 {
  margin-top: $titre;
  margin-bottom: $titre;
}
.color-first {
  color: $first;
}
.color-seconde {
  color: $seconde;
}
.color-third {
  color: $third;
}
.color-four {
  color: $four;
}
.fs-1 {
  font-size: 11.7px;
}

.p-y-5 {
  padding-top: 13px;
  padding-bottom: 15px;
}
.p-1 {
  font-size: 14px;
  font-weight: 600;
}
.number {
  font-size: 32px;
  font-weight: bolder;
}

.slider-container {
  width: 100%;
  margin: 10px auto;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1px;
  border-radius: 0;
  outline: none;
  position: relative;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: $seconde;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: -12px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: $seconde;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: -12px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.slider::-webkit-slider-runnable-track {
  height: 1px;
  background: #30435C;
}
.m-t-10 {
  margin-top: 34px;
  background-color: #F1F2F6;
  padding: 30px 28px ;
}
.m-t-4 {
  margin-top: 16px ;
}
.m-b-6 {
  margin-bottom: 50px;
}
.mon {
  font-size: 23px;
  font-weight: 600;
  margin: 17px 0px;
}
.button1 {
  background-color: $first;
  padding: 10px 20px;
  border: #F1F2F6 3px solid;
  border-radius: 4px;
  box-shadow:0px 5px 10px rgba(0, 0, 0, 0.4) ;
  cursor: pointer;

}
.button3 {
  background-color: $first;
  padding: 6px 15px;
  border: #F1F2F6 3px solid;
  border-radius: 4px;
  box-shadow:0px 5px 10px rgba(0, 0, 0, 0.2) ;
  cursor: pointer;

}
.button2 {
  background-color: $first;
  padding: 16px 30px;
  border: #F1F2F6 3px solid;
  border-radius: 4px;
  box-shadow:0px 5px 10px rgba(0, 0, 0, 0.4) ;
  cursor: pointer;

}
.bg1{
  background-color: #F1F2F6;
  font-size: 16px;
  font-weight: 500;
  padding: 6px 8px;
}
.button1:hover {
  background-color: #028C96;
}
.button2:hover {
  background-color: #028C96;
}
.button3:hover {
  background-color: #028C96;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}
.pret {
  font-size: 14px;
  font-weight: 700;
  padding: 4px 8px;
}
.m-b-9 {
  margin-bottom: 30px;
}
.m-b-10 {
  margin-bottom: 80px;
}
.input-container {
  position: relative;
}

.custom-input {
  width: 100%;
  padding: 9px 8px 4px 8px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
  color: $first;
  font-weight: 500;
  transition: border-color 0.3s ease;
}


.custom-input:focus {
  border-bottom-color: #ccc ;
}
.m-t-9 {
  margin-top: 30px ;
}

.custom-label {
  position: absolute;
  left: 5px;
  top: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #999;
  transition: all 0.3s ease;
  pointer-events: none;
}


.custom-input:focus + .custom-label,
.custom-input:not(:placeholder-shown) + .custom-label {
  top: -11px;
  font-size: 14px;
  color: $four;
  font-weight: 600;
}

.custom-input::placeholder {
  color: transparent;
}

.custom-input:focus::placeholder {
  color: #999;
}

.custom-input:disabled {
  background-color: #e0e0e0;
  border-bottom: 0;
}
.data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 8px; 
}
.border-b {
  border-bottom: 1px solid #DEE1E5;
}
.fs2{
  font-size: 15px;
}
.fw {
  font-weight: 600;
}
.radio-container {
  margin-bottom: 15px;
  padding: 3px 4px;
}

.radio-title {
  font-weight: 600;
  margin-bottom: 7px;
  display: block;
  font-size: 14.5px;
  color: $four;
}

.radio-group {
  display: flex;
  gap: 17px; 
}

label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.custom_field {
  position: relative;
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid $four; 
  margin-right: 4px;
}

.custom_field::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  left: 50%;
  top: 50%;
  background-color: white; 
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: all 0.6s ease; 
}

input[type="radio"] {
  display: none; 
}

input[type="radio"]:checked + .custom_field::before {
  background-color: $first; 
}

input[type="radio"]:checked + .custom_field {
  border-color: $first; 
}

input[type="radio"]:checked + .custom_field + span {
  color: $first; 
  font-weight: bold;
}
.fs1 {
  font-size: 14px;
}

        
        .modal {
          display: none; 
          position: fixed; 
          z-index: 1; 
          left: 0;
          top: 0;
          width: 100%; 
          height: 100%; 
          background-color: rgba(0,0,0,0.4); 
      }

      .modal-content {
          background-color: white;
          margin: 15% auto;
          padding: 18px 0px;
          border: 1px solid #888;
          width: 500px;
          border-radius: 0.375rem;
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
      }
      .flex-end {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      .p-5 {
        padding: 0px 15px;
      }
      .erreur {
        width: 93%;
        background-color: #FBD0D5;
        border: 1px solid #F9BDC4;
        margin-bottom: 18px;
        border-radius: 0.375rem;
      }

      .close {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
      }

      .close:hover,
      .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
      }

      .error-list {
          color: #7A0A17;
      }










